# IDEs e Sistema
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# Java / Spring (Backend)
backend/target/
backend/.mvn/
backend/*.jar
backend/*.war
backend/src/main/resources/application-dw.properties
backend/src/main/resources/application.properties

# Node / React (Frontend)
frontend/node_modules/
frontend/dist/
frontend/.vite/
frontend/.env
frontend/.env.local